<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title> Indian Institute of Technology Jodhpur </title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/css_file.css">
	<link rel="shortcut icon" href="images\extra\iit_logo.png" type="image/png">
	<link rel="stylesheet" type="text/css"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
</head>

<body>
	<section id="navbar">
		<nav class="navbar navbar-expand-lg py-3 navbar-dark  shadow-sm">
			<div class="container">
				<a href="#" class="navbar-brand">
					<img src="/images\extra\iit_logo.png" width="70" alt="" class="d-inline-block align-middle mr-2">
					<span class="text-uppercase font-weight-bold">IIT Jodhpur PHC</span>
				</a>

				<button type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
					class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>

				<div id="navbarSupportedContent" class="collapse navbar-collapse">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item "><a href="/staff/<%=slug  %>/home" class="nav-link">Home <span
									class="sr-only">(current)</span></a></li>
                        <li class="nav-item "><a href="/staff/<%=slug  %>" class="nav-link">Dashboard</a></li>
						<!-- <li class="nav-item"><a href="#" id="downloads-btn" class="nav-link">Downloads</a></li> -->
						<li class="nav-item"><a href="/staff/<%=slug  %>/contact" id="contact-us-btn" class="nav-link">Contact us</a></li>
						<li class="nav-item active"><a href="/staff/<%=slug %>/faq" id="faq-btn" class="nav-link">FAQs</a></li>
						<li class="nav-item "><a href="/logout" id="contact-us-btn" class="nav-link">Logout</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</section>




    <div class = "admin_main_cards_container">
        <div class="performance_cards">
			<div class="performance_card_box">
				<div class="performance_card_contents">
					<h2>01</h2>
					<h3> Query. 1 </h3>
                    <h4> Question about blah blah blah 1. ?</h4>
					<p>Answer : Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, voluptate aliquid? Officiis animi suscipit labore voluptates ullam, voluptatem qui laudantium nisi consequatur, maxime esse 
					</p>
					<a href="#">Know More ...</a>
				</div>
			</div>
        </div>

        <div class="performance_cards">
			<div class="performance_card_box">
				<div class="performance_card_contents">
					<h2>02</h2>
					<h3> Query. 2 </h3>
                    <h4> Question about blah blah blah 2. ?</h4>
					<p>Answer : Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, voluptate aliquid? Officiis animi suscipit labore voluptates ullam, voluptatem qui laudantium nisi consequatur, maxime esse expedita accusamus ducimus. Error, odit voluptate?
					</p>
					<a href="#">Know More ...</a>
				</div>
			</div>
        </div>

        <div class="performance_cards">
			<div class="performance_card_box">
				<div class="performance_card_contents">
					<h2>03</h2>
					<h3> Query. 3 </h3>
                    <h4> Question about blah blah blah 3. ?</h4>
					<p>Answer : Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, voluptate aliquid? Officiis animi suscipit labore voluptates ullam, voluptatem qui laudantium nisi consequatur, maxime esse expedita accusamus ducimus. Error, odit voluptate?
					</p>
					<a href="#">Know More ...</a>
				</div>
			</div>
        </div>

        <div class="performance_cards">
			<div class="performance_card_box">
				<div class="performance_card_contents">
					<h2>04</h2>
					<h3> Query. 4 </h3>
                    <h4> Question about blah blah blah 4. ?</h4>
					<p>Answer : Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, voluptate aliquid? Officiis animi suscipit labore voluptates ullam, voluptatem qui laudantium nisi consequatur, maxime esse expedita accusamus ducimus. Error, odit voluptate?
					</p>
					<a href="#">Know More ...</a>
				</div>
			</div>
        </div>

        <div class="performance_cards">
			<div class="performance_card_box">
				<div class="performance_card_contents">
					<h2>05</h2>
					<h3> Query. 5 </h3>
                    <h4> Question about blah blah blah 5. ?</h4>
					<p>Answer : Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, voluptate aliquid? Officiis animi suscipit labore voluptates ullam, voluptatem qui laudantium nisi consequatur, maxime esse expedita accusamus ducimus. Error, odit voluptate?
					</p>
					<a href="#">Know More ...</a>
				</div>
			</div>
        </div>

        <div class="performance_cards">
			<div class="performance_card_box">
				<div class="performance_card_contents">
					<h2>06</h2>
					<h3> Query. 6 </h3>
                    <h4> Question about blah blah blah 6. ?</h4>
					<p>Answer : Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, voluptate aliquid? Officiis animi suscipit labore voluptates ullam, voluptatem qui laudantium nisi consequatur, maxime esse expedita accusamus ducimus. Error, odit voluptate?
					</p>
					<a href="#">Know More ...</a>
				</div>
			</div>
        </div>
    </div>


</body>

</html>